html,
body {
    height: 100%;
}

.panel {
    font-size: 12px;
}

.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}

.wrap > .container {
    padding: 70px 15px 20px;
}

.footer {
    height: 60px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    padding-top: 20px;
}

.jumbotron {
    text-align: center;
    background-color: transparent;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: /*"\e113"*/ "\e151";
}

a.desc:after {
    content: /*"\e114"*/ "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view th {
    white-space: nowrap;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

/* align the logout "link" (button in form) of the navbar */
.nav li > form > button.logout {
    padding: 15px;
    border: none;
}

@media(max-width:767px) {
    .nav li > form > button.logout {
        display:block;
        text-align: left;
        width: 100%;
        padding: 10px 15px;
    }
}

@media(max-width:1500px) {
    #product-order-chart svg {
        margin-left: -7vw;
    }
}

@media(max-width:1250px) {
    #product-order-chart svg {
        margin-left: -9vw;
    }
}


@media(max-width:1100px) {
    #product-order-chart svg {
        margin-left: -13vw;
    }
}


.nav > li > form > button.logout:focus,
.nav > li > form > button.logout:hover {
    text-decoration: none;
}

.nav > li > form > button.logout:focus {
    outline: none;
}

.widget-stats .stats-icon {
    font-size: 42px;
    height: 56px;
    width: 56px;
    text-align: center;
    line-height: 56px;
    margin-left: 15px;
    color: #fff;
    position: absolute;
    right: 15px;
    top: 15px;
    opacity: 0.2;
    filter: alpha(opacity=20);
}

.bg-yellow {
    background: #fcd742 !important;
}

.bg-purple {
    background: #fc42c4 !important;
}

.bg-red {
    background: #fc4251 !important;
}

.bg-black {
    background: #000 !important;;
}

.modal-content .modal-header .close {
    display: none;
}


.modal-slg .modal-dialog {
    margin-left: 18%;
}

.modal-slg .modal-dialog .modal-content {
    width: 252%;
}

.modal-md .modal-dialog {
    margin-left: 21%;
}


.modal-md .modal-content {
    width: 150%;
}

.modal-big-md .modal-dialog {
    margin-left: 10%;
}


.modal-big-md .modal-content {
    width: 80vw;
}

.nav.nav-tabs .nav-item .nav-link.active {
    border: none;
    position: relative;
    color: #7367F0;
    -webkit-transition: all .2s ease;
    transition: all .2s ease;
    background-color: transparent;
}

.nav-vertical .nav.nav-tabs .nav-item .nav-link.active:after {
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
    left: auto;
    right: -1.5rem;
    bottom: 100%;
    top: 1.25rem;
    width: 2.14rem;
}

.view-info tr th {
    padding-bottom: 10px !important;
}

.theme-table table tbody tr td {
    border: #F8F8F8;
    background: #fff !important;
    padding: 18px;
}

.theme-table table tbody tr {
    box-shadow: 0 4px 25px 0 rgba(0, 0, 0, 0.1);
}

.theme-table table tbody tr td:first-child {
    border-radius: 0.5rem;
}

.theme-table table tbody tr td:last-child {
    border-radius: 0.5rem;
}


.theme-table table {
    border-spacing: 0 1em !important;
    border-collapse: separate !important;
}

.theme-table table.table>thead>tr>th {
    border-bottom: none !important;
}


.chip.chip-yellow {
    background: #fcd742;
}

.chip.chip-yellow .chip-text {
    color: #fff;
}

.chip.chip-purple {
    background: #fc42c4;
}

.chip.chip-purple .chip-body .chip-text {
    color: #fff !important;
}

.chip.chip-red {
    background: #fc4251;
}

.chip.chip-red .chip-text {
    color: #fff;
}

.chip.chip-black {
    background: #000;
}

.chip.chip-black .chip-text {
    color: #fff;
}

.modal-margin .modal-dialog {
    margin-left: 30%;
}

.btn.btn-my-square {
    padding: 0.9rem 0.9rem;
}



/* Customize the label (the container) */
.container-rd {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default radio button */
.container-rd input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

/* Create a custom radio button */
.checkmark-rd {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
    border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.container-rd:hover input ~ .checkmark-rd {
    background-color: #ccc;
}

/* When the radio button is checked, add a blue background */
.container-rd input:checked ~ .checkmark-rd {
    background-color: #000;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark-rd:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the indicator (dot/circle) when checked */
.container-rd input:checked ~ .checkmark-rd:after {
    display: block;
}

/* Style the indicator (dot/circle) */
.container-rd .checkmark-rd:after {
    top: 9px;
    left: 9px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: #000;
}


.select2-container--krajee .select2-selection--single {
    height: 37px !important;
}

.select2-container--krajee .select2-selection--single .select2-selection__arrow {
    height: 35px !important;
}

.sp-hidden {
    display: none;
}

@media(max-width:2000px) {
    .modal-slg .modal-dialog {
        margin-left: 13% !important;
    }
}

@media(max-width:1560px) {
    .modal-slg .modal-dialog .modal-content {
        width: 210%;
    }

    .modal-slg .modal-dialog {
        margin-left: 13% !important;
    }
}

@media(max-width:1340px) {
    .modal-slg .modal-dialog .modal-content {
        width: 220%;
    }
    .modal-slg .modal-dialog {
        margin-left: 6% !important;
    }
}

@media(max-width:1040px) {
    .modal-slg .modal-dialog .modal-content {
        width: 182%;
        overflow: hidden;
    }
    .modal-slg .modal-dialog {
        margin-left: 13% !important;
    }
}


.select2-container--krajee.select2-container--open .select2-selection, .select2-container--krajee .select2-selection:focus {
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px rgba(177, 169, 252, 0.6) !important;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px rgba(177, 169, 252, 0.6) !important;
    border-color: #b1a9fc !important;
}

.select2-container--krajee .select2-dropdown {
    border-color: #b1a9fc !important;
}

.select2-container--krajee .select2-results__option--highlighted[aria-selected] {
    background-color: #7367F0 !important;
    color: #fff !important;
}

.select2-container--krajee .select2-results__option[aria-selected=true] {
    color: #7367F0 !important;
    background-color: #cac5fc !important;
}

.select2-container--krajee .select2-results__option[aria-selected=true]:hover {
    background-color: #7367F0 !important;
    color: #fff !important;
}



.picker__day--highlighted {
    border-color: #7367F0;
}

.picker__day--highlighted:hover, .picker--focused .picker__day--highlighted {
    cursor: pointer;
    color: #000;
    background: #dcd9ff;
}

.picker__day--today:before {
    border-top: 0.5em solid #7367F0;
}

.picker__button--today:before {
    border-top: 0.66em solid #7367F0;
}

.picker__day--selected, .picker__day--selected:hover, .picker--focused .picker__day--selected {
    background: #7367F0;
    color: #fff;
}


.picker__button--today:hover, .picker__button--clear:hover, .picker__button--close:hover {
    cursor: pointer;
    color: #000;
    background: #dfdbff;
    border-bottom-color: #dfdbff;
}

.picker__day--infocus:hover, .picker__day--outfocus:hover {
    cursor: pointer;
    color: #000;
    background: #dcd9ff;
}

.picker__nav--prev:hover, .picker__nav--next:hover {
    cursor: pointer;
    color: #000;
    background: #dcd9ff;
}

/*.modal-slg .modal-dialog .modal-content {*/
    /*width: 178%;*/
/*}*/